_pycache_
copies_in_case
customenv
FigmaToCTK
Testing

D:\Downloads\Python_YTDLP\FigmaToCTK
FigmaToCTK
D:\Downloads\Python_YTDLP\FigmaToCTK\Tkinter-Designer
FigmaToCTK\Tkinter-Designer
Tkinter-Designer